* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header {
  background: radial-gradient(#fff,#ffd6d6);  
}

.container {
    max-width: 1300px;
    margin: auo;
    padding: 0 25px;
}

.navbar {
    display: flex;
    padding: 20px;
    align-items: center;
}
nav {
    flex:1 ;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 30px
}

nav ul li a {
    text-decoration: none;
    color: #555;
}
nav ul li a:active,
nav ul li a:hover {
    border-bottom: 1px solid deeppink;
    transition: 1s;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    width: 100%;
    height: auto;
    padding: 30px;
}

.col-2 h1 {
    font-size: 300%;
    line-height: 50px;
    margin: 25px 0;
}

.btn {
    border: 1px solid red;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: #555;
}

.btn-empty:active,
.btn-empty:hover {
    background-color: deeppink;
    color: white;
    transition: 1s;
}

/**** CATEGORIES SECTION ****/
.categories {
    margin: 100px auto 30px auto;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}
.col-3 {
    flex-basis: 30%;
    min-width: 200px;
}
.col-3 img {
    width: 100%;
}

.featured-products-sections {
    background-color: gainsboro;
}
.title {
    text-align: center;
    margin: 50px auto;
    padding-top: 90px;
}

.title::after {
    content: " ";
    background-color: red;
    width: 100px;
    height: 2px;
    margin: 20px auto;
    display: block;
}

.col-4 {
    flex-basis: 24%;
    margin-bottom: 50px;
}

.col-4 img {
    width: 100%;
}

.col-4:hover {
    transform: translateY(5px);
}

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    padding: 80px 0;
}

.testimonial {
    padding-top: 100px;
    
}
.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 0.5s;
}
@media(max-width:700px) {
    .row{
        flex-direction: column;
    }
    .testimonial .col-3 {
        margin-bottom: 10px;
    }
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%
}
.testimonial .col-3 p {
    font-size: 20px;
    line-height: 25px;
}
.rating .fa {
    font-size: 20px;
    color: orangered;
    margin-top: 20px;
}
.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
    margin-bottom: 20px
}

.footer {
    padding-top: 10px;
    background: #282828;
    margin-top: 50px;
}

.footer-para {
    padding: 10px 30px;
    color: white;
}
